@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --blue-50: #e7f5ff;
  --orange-50: #fff4e6;
  --green-50: #ebfbee;
  --grape-50: #f8f0fc;
  --indigo-50: #edf2ff;
  --yellow-50: #fff9db;
  --pink-50: #fff0f6;
  --violet-50: #f3f0ff;
  --lime-50: #f4fce3;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .bg-main {
    background: #748ffc;
  }
}

.recharts-rectangle:focus {
  outline: none;
}

.recharts-layer:focus {
  outline: none;
}

.recharts-rectangle {
  stroke: none !important;
}

.recharts-wrapper:focus {
  outline: none;
}

svg:focus {
  outline: none;
}
